* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #101010;

}

#box {
    height: 350px;
    width: 350px;
    background-color:rgba(212, 233, 250, 0.525);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 30px;
}

h1 {
    font-size: 50px;
    color:antiquewhite;
}

h2 {
    font-size: 75px;
}

#btn-box {
    display: flex;
    gap: 10px;
}

.btn {
    font-size: 20px;
    padding: 2px 25px;
    border-radius: 5px;
    color:#111;
}

.increase {
    background-color: rgb(76, 195, 76);
    
}

.decrease {
    background-color: rgb(183, 103, 103);

}

.reset {
    background-color: rgb(34, 240, 240);
    padding: 2px 10px;
}

