:root{
    --pri: #FAF3E1;
    --sec: #F5E7C6;
    --ter: #FF6D1F;
    --qua: #222222;
    --red: red;
    --green: rgb(17, 158, 17);
    --blue: rgb(0, 116, 155);
    --black: black;
}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./AeonikTRIAL-Light.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./AeonikTRIAL-Regular.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(./AeonikTRIAL-Bold.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonik;
    color: var(--sec);
}

html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main{
    min-height: 120%;
    width: 100%;
    padding-top: 70px;
    background-color: var(--qua);
}

section.allElems{
    height: 100%;
    width: 100%;
    padding: 15px 30px;
    position: absolute;
    overflow: auto;
}

.allElems header{
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 40px;
}

header .header1 h2{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 40px;
    
}

header .header1 h3{
    font-size: 30px;
    font-weight: 500;
    
}

header .header1 h4{
    font-size: 30px;
    font-weight: 500;
    
}

header .header2 h2{
    font-size: 45px;
    font-weight: 700;
    
}

header .header2 h4{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: -5px;
    
}

header .header2 h3{
    font-size: 15px;
    font-weight: 500;
    opacity: 0.9;
    
}

section.allElems .allFeatures{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 25px;
}

.elem{
    height: 300px;
    width: 222px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.2s;
    cursor: pointer;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.elem h2{
    position: absolute;
    bottom: 3%;
    left: 5%;
    font-weight: 500;
    font-size: 25px;
    
}

.elem:active{
    scale: 0.97;
}

.fullElem{
    height: 100%;
    width: 100%;
    background-color: var(--qua);
    padding: 40px;
    position: absolute;
    display: none;
    top: 0;
    z-index: 999;
}

.back{
    position: absolute;
    top: 7%;
    right: 3%;
    background-color: var(--red);
    border-radius: 10px;
    padding: 12px 16px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    
}

.back:active{
    scale: 0.97;
}

.todo-list-fullpage h2{
    font-size: 50px;
    
}

.todo-list-fullpage .todo-container{
    height: 80%;
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-list-fullpage .todo-container .addTask{
    height: 100%;
    width: 33%;
    background-color: var(--ter);
    border-radius: 20px;
}

.todo-list-fullpage .todo-container .allTask{
    height: 100%;
    width: 65%;
    background-color: var(--ter);
    border-radius: 20px;
}

.todo-list-fullpage .todo-container .addTask form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}

.todo-container .addTask form #task-input{
    width: 100%;
    padding: 10px 20px;
    font-size: 20px;
    background-color: var(--sec);
    color: var(--qua);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 15px;
    font-weight: 500;
}

.todo-container .addTask form textarea{
    width: 100%;
    padding: 10px 20px;
    font-size: 20px;
    background-color: var(--sec);
    color: var(--qua);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 15px;
}

.todo-container .addTask form button{
    width: 100%;
    padding: 10px 20px;
    font-size: 20px;
    background-color: var(--qua);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 15px;
    color: var(--sec);
    font-weight: 700;
    transition: all ease 0.2s;
    cursor: pointer;
}

.todo-container .addTask form button:active{
    scale: 0.96;
}

.todo-list-fullpage .todo-container .allTask{
    height: 100%;
    width: 65%;
    background-color: var(--ter);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    overflow: auto;
}

.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--sec);
    padding: 15px 25px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.task h5{
    color: var(--qua);
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.task h5 span{
    color: var(--pri);
    background-color: var(--red);
    padding: 4px 6px;
    font-size: 10px;
    border-radius: 50px;
}

.task h5 span.true{
    opacity: 1;
}

.task h5 span.false{
    opacity: 0;
}

.task button{
    padding: 13px 26px;
    color: var(--pri);
    background-color: green;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.task button:active{
    scale: 0.95;
}

.mark-imp{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 10px;
    margin-bottom: 10px;
    gap: 30px;
}

.mark-imp input{
    scale: 1.7;
}

.mark-imp label{
    font-size: 20px;
}

.daily-planner-fullpage h2{
    font-size: 50px;
    
}

.daily-planner-fullpage .day-planner{
    background-color: var(--ter);
    height: 85%;
    width: 100%;
    margin-top: 40px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    overflow: auto;
}

.daily-planner-fullpage .day-planner::-webkit-scrollbar{
    display: none;
}

.daily-planner-fullpage .day-planner .day-planner-time{
    display: flex;
    align-items: center;
    position: relative;
    width: 49%;
    margin-bottom: 12px;
}

.day-planner .day-planner-time p{
    position: absolute;
    top: 12%;
    left: 2%; 
    font-size: 12px;
   
}

.day-planner .day-planner-time input{
    padding: 10px 30px;
    width: 100%;
    background-color: var(--qua);
    border-radius: 5px;
    border: none;
    font-size: 20px;
    padding-top: 26px;
    outline: none;
}

.motivational-fullpage::-webkit-scrollbar{
    display:none;
}

.motivation-fullpage-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.motivational-fullpage .motivation-container{
    height: 400px;
    width: 80%;
    border-radius: 40px;
    position: relative;
}

.motivational-fullpage .motivation-container::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--red);
    border-radius: 40px;
    scale: 1.15;
    filter: blur(150px);
    z-index: 8;
}

.motivational-fullpage .motivation-container .motivation-wrapper{
    z-index: 10;
    width: 100%;
    position: absolute;
    background-color: var(--qua);
    border-radius: 20px;
    padding: 20px;
    border: 4px solid var(--sec);
}

.motivation-1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-content: space-between;
    position: relative;
}

.motivation-1 h2{
    font-size: 30px; 
    font-weight: 500;
    text-align: right;
    background-color: var(--ter);
    padding: 20px;
    border-radius: 20px;
    width: fit-content;
    
}

.quote img{
    height: 100px;
    opacity: 0.5;
    position: absolute;
    top: 2%;
    right: 5%;
}

.motivation-2{
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.motivation-2 h1{
    font-size: 50px;
    font-weight: 700;
    color: var(--ter);
}

.motivation-3{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.motivation-3 h2{
    font-size: 30px; 
    font-weight: 500;
    text-align: right;
    background-color: var(--ter);
    padding: 20px;
    border-radius: 20px;
    width: fit-content;
    color: var(--sec);
}

.pomodoro-fullpage h2{
    font-size: 50px;
    
}

.pomodoro-fullpage .pomo-timer{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.pomo-timer h2{
    font-size: 130px;
    
}

.pomo-timer button{
    background-color: var(--ter);
    padding: 10px 30px;
    font-size: 25px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 10px 10px 0px var(--black);
    transition: all ease 0.1s;
    font-weight: 600;
    cursor: pointer;
}

.pomo-timer button:active{
    box-shadow: 0px 0px 0px var(--black);
}

.pomodoro-fullpage .session{
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--green);
    color: var(--sec);
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
}

nav{
    position: fixed;
    top: 0;
    z-index: 99;
    height: 50px;
    width: 100%;
    padding:10px 30px;
    background-color: var(--qua);
}

.nav-in{
    display: flex;
    background-color: var(--ter);
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    border-radius: 10px;
}

.nav-in h2{
    font-size: 25px;
    font-weight: 700;
    color: var(--sec);
}

.theme{
    background-color: var(--sec);
    padding: 10px 16px;
    border-radius: 10px;
    transition: all ease 0.2s;
    cursor: pointer;
}

.theme h4{
    color: var(--qua);
    font-weight: 700;
    font-size: 16px; 
    pointer-events: none;
}

.theme:active{
    scale: 0.96;
}