*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

#box {
    background-color: green;
    height: 350px;
    width: 300px;
    border-radius: 20px;
    border: 2px solid white;
}

button {
    font-size: 20px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgb(230, 79, 79);
}