*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #333;
    padding: 20px;
    
}

input{
    display: block;
    margin: 10px;
    padding: 5px 10px;
    
}

.card{
    max-width: 300px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #555;
    margin-top: 40px;
    color:aliceblue;
    display: inline-block;
    margin-left: 10px;

}

.profile{
    height: 50px;
    width:50px;
    border-radius: 50%;
    overflow: hidden;

}

.profile img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card h3{
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
}

.card h5{
    margin-top: 3px;
    font-weight: 600;
    font-size: 15px;
}

.card p{
    font-size: 12px;
    margin-top: 10px;
}