*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
}

#main .top{
    height: 91%;
    width: 100%;
}

.top img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-size: contain;
    background-position: center;
}

.icons{
    height: 80px;
    width: 80px;
    position: absolute;
    z-index: 1;
    top: 5px;
    padding: 10px 15px;
    
}

.icons img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.icon p{
    font-size: 15px;
    color: #fff;
}

.icon{
    margin-bottom: 20px;
}

#main .bottom{
    height: 9%;
    width: 100%;
    background-color: #1c1c1c;
    border-top: 1px solid #535353;
}

.taskbar{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.logo img{
    margin-top: 10px;
    object-fit: cover;
    height: 70%;
    width: 70%;
}

.logo input{
    margin-top: 10px;
    background-color: #3c3c3c;
    padding: 8px 30px;
    border-radius: 50px;
    border: 1px solid #535353;
}

