*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    height: 400px;
    width: 300px;
    background-color: black;
    border-radius: 20px;
    padding: 10px;

}