*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: gainsboro;
    padding: 10px;
}

.card{
    height: 400px;
    width: 350px;
    background-color: white;
    padding: 25px;
    margin-bottom: 10px;
    border-radius: 30px;
}

img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    padding: 5px;
    border: 2px solid black;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

#btn > button{
    background-color: white;
    color: black;
    border: 1px solid grey;
    padding: 5px 15px;
}

.name{
    display: inline-block;
}