*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color:;
}

div {
    height: 300px;
    width: 250px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding: 50px 40px; */
    border-radius: 20px;
    border: 2px solid white;
    /* font-size: 75px; */
    /* color:aqua; */
}

button {
    font-size: 20px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: lightcoral;
}

button:active {
    scale: 0.95;
}

h1 {
    background-color: none;

}