*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.box{
    height: 200px;
    width: 200px;
    transition: all 0.3s ease-in;
}

.red{
    background-color: rgb(253, 62, 62);
}

.green{
    background-color: rgb(34, 130, 34);
}

.blue{
    background-color: rgb(70, 70, 249);
}

.box:hover{
    transform: scale(1.2) !important;
    opacity: 1 !important;
}

body:has(.box:hover) .box{
    transform: scale(0.8);
    opacity: 0.5;
}