*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 450px;
    background-color: #212121;
    border-radius: 10px;
    padding: 30px;
    color: white;
}

.card p{
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
}

.card p span{
    font-weight: 600;
    color: royalblue;
}

.progress{
    width: 100%;
    height: 20px;
    background-color: #555;
    border-radius: 50px;
    color: #fff;
}

.bar{
    height: 100%;
    width: 0%;
    background-color: rgb(5, 248, 5);
    border-radius: 50px;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.bottom h2{
    font-size: 60px;
}

.bottom button{
    padding: 12px 24px;
    background-color: crimson; 
    color: white;
    border: 0;
    border-radius: 5px; 
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.bottom button:active{
    scale: 0.95;
}