*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #222;
}

.container{
    width: 350px;
    background-color: #fff;
    padding: 30px 40px;
    border: 1px solid #111;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}

h2{
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

.container label{
    font-size: 15px;
    font-weight: 600;
}

.container input{
    margin-bottom: 15px;
}

button{
    padding: 5px 55px;
    margin-top: 5px;
    background-color: #0056b3;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 12px;
    font-weight: 600;
    /* text-align: center; */
}

button:active{
    scale: 0.95;
}

#resultMessage{
    color: rgb(100, 254, 44);
    margin-top: 20px;
    /* text-align: center; */
    font-weight: bold;
    font-size: 14px;
}

.error{
    color: red;
    font-size: 12px;
    margin-top: 4px;
    display: none;
}


