*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background:linear-gradient(to right bottom, rgb(26, 26, 26), rgb(30, 30, 30));
    padding: 20px;
}

section{
    height: 100%;
    width: 350px;
    background-color: black;
    border-radius: 10px;
    margin: auto;
}

.All-reels{
    height: 100%;
    width: 100%;

}

.reel{
    height: 100%;
    width: 100%;
    /* background-color: cornflowerblue; */
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.reel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reel .bottom{
    width: 100%;
    padding: 30px 20px;
    background: linear-gradient(black, black);
    position: absolute;
    bottom: 0;
}

.bottom .user{
    display: flex;
    align-items: center;
}

.bottom .user img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
}